<h1>Angular</h1>

<label>Get Value</label>
<p>{{gethere}}</p>
<br><br>
<label>Set Value</label>
<p>{{setHere}}</p>

<input #myInput type="text" /><br><br>
<button (click)="getInput(myInput.value)">get value</button>
<button (click)="setInput(myInput)">set value</button>

<h1>If | Else block </h1>
<button (click)="showHideDiv()">Toogle</button><br><br>

@if(isShow) {
    <div style="background-color: red; height: 200px; width: 200px;">

    </div>
}




<app-counter-component></app-counter-component>


